header {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #feeec9e2;
}

.navigation {
  margin-top: 10rem;
}

.navlist {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(0, 17, 17);
}
